<%- include('partials/header') %>

<div class="container">
  <div id="profile" class="thumbnail">
    <h1>Profile Page</h1>
    <hr>
      <h4>Car Number - <%= currentUser.carNumber %> </h4>
  </div>
</div>

<%- include('partials/footer') %>